.card:hover {
    box-shadow: 5px 10px 20px 2px rgba(7, 21, 56, 1);
    transition: all 0.7s linear;
}

.card-body {
    padding: 2rem;
}

.card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
}

.overflow {
    overflow: hidden;
}

.card-img-top {
    width: '100%';
    height: 290px;
    transition: all 0.2s ease-in-out;
}

.card-img-top:hover {
    transform: scale(1.8);
}

.green-background {
    background-color: green;
}